.Forecast {
  margin-top: 50px;
}
.Forecast .forecast-day {
  font-size: 15px;
  font-weight: 500;
  color: rgb(59, 59, 59);
}
.Forecast .forecast-icon {
  width: 50px;
}
.Forecast .high-low {
  font-size: 14px;
  font-weight: 500;
}
.Forecast .high {
  margin-left: 3px;
}
.Forecast .low {
  margin-left: 8px;
  color: rgb(104, 103, 103);
}
